/********************************************************
*                      Polices                          *
********************************************************/
@font-face {
	font-family: 'LinuxLibertine';
	src: url('../fonts/LinLibertine_RB.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Cantarell.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

h1
{
	font-family: 'LinuxLibertine';
}

nav
{
	font-family: 'LinuxLibertine';
	font-size: 105%;
}

.btn-red, .btn-nav, .btn-table
{
	font-family: 'LinuxLibertine';
}

body
{
	font-family: 'Cantarell';
}

html, body
{
	font-size: 105%;
}

/********************************************************
*                      General                          *
********************************************************/
html, body
{
	height: 100%;
}

.center
{
	text-align: center
}

#body
{
	min-height: 100%;
	overflow: auto;
	padding: 75px 0;
}

.white-bg
{
	background-color: white;
}

.alert, .nav-pills>li>a 
{
	border-radius: 0;
}

.badge {
    background-color: mediumturquoise;
}

.submit, .btn-default
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    background: #00A6F0;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    margin-bottom: 20px;
    display: inline-block;
    /* line-height: 50px; */
    text-align: center;
    font-size: 20px;
}

.submit:hover, .btn-default:hover
{
    background: #087DB1;
    color: white;
}

.fadeInBlock
{
    opacity: 0;
}

/********************************************************
*                     Boutons                           *
********************************************************/
.btn-red, .btn-nav, .btn-table
{
	background-color: firebrick;
	color: white;
	border-radius: 0;
	margin: 10px;
    line-height: 1.3333333;
}

.btn-table
{
	margin: 0;
}

.btn-red
{
	padding: 10px 16px;
    font-size: 18px;
}

.btn-red:hover, .btn-nav:hover, .btn-table:hover
{
	background-color: crimson;
	color: white;
}

/********************************************************
*                   Navigation                          *
********************************************************/
nav.navbar
{
	border-radius: 0;
}

nav.navbar li:hover
{
	background-color: PowderBlue;
}

.navbar-default .navbar-nav>li:hover>a
{
	color: white;
}

.logo
{
	max-height: 50px;
}

nav
{
	height: 50px
}

.brand, .brand:hover
{
	text-decoration: none;
	color: crimson;
}

.spanbrand img
{	
	vertical-align: initial;
}

.spanbrand
{
	line-height: 50px;
}

#body.grey-bg
{
	background-color: #EEE;
}

#body.login-bg
{
	background-image: url('../images/teamwork2.jpg');
	background-size: cover;
}

textarea
{
	resize: none;
}


/********************************************************
*                     Footer                            *
********************************************************/
footer nav .container-fluid
{
	padding-left: 0;
}

/* Afin d'éviter le collapse du footer */
@media(max-width:767px)
{
	footer ul.nav.navbar-nav 
	{
	    height: 50px;
	    margin: 0;
	}

	footer .nav>li
	{
	    height: 50px;
	    margin: 0;    
	    padding: 5px 0;
	}

	footer .navbar-collapse.collapse 
	{
		display: block!important;
	}

	footer .navbar-nav>li, footer .navbar-nav
	{
		float: left !important;
	}

	footer .navbar-nav.navbar-right:last-child
	{
		margin-right: -15px !important;
	}

	footer .navbar-right 
	{
		float: right!important;
	}
}


/********************************************************
*                     Caroussel                         *
********************************************************/
.body-carousel, .carousel-inner, .carousel
{
	height: 100%;
}

.body-carousel
{
	padding: 0 !important;
}

.carousel-caption
{
    position: absolute;
    bottom: 420px;
    font-size: 30px;    
}

.carousel-caption h1
{
    font-size: 190%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img
{
    max-width: initial;
}

.project-bg
{
	background-image: url('../images/project.jpg');
	background-size: cover;
    background-attachment: fixed;
}
