form
{
	font-size: 20px;
}

.form-group label, form h1, input.form-control
{
	color: #555;
}

form input.form-control
{
	height: 50px;
}

form h1
{
	text-align: center;
	color: #00A6F0;
}

#body.suscribe-bg
{
	background-image: url('../../images/teamhelp.jpg');
	background-size: cover;
    background-attachment: fixed;
}

